* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

.uppercase {
    text-transform: uppercase;
}

html { height: 100%; }
body {
    margin: 0;
    width: 1920px;
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
}

ol, ul { list-style-type: none; }
a, a:hover { text-decoration: none; }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }

.wrapper {
    width: 1275px;
    margin: 0 auto;
    height: auto;
}

.header {
    height: 105px;
    background: url(image/rectangle_head.png) no-repeat center bottom;
    width: 1920px;
    position: absolute;
}


.logo {
    width: 640px;
    float: left;
}

.logo-ico,
.logo-event {
    margin: 0;
}

.logo-ico {
    margin-top: 10px;
    float: left;
}

.logo-event {
    margin-top: 40px;
    margin-left: 30px;
}

.control-menu {
    width: 635px;
    margin-right: 0;
    height: 100px;
    float: right;

}

.sign-in {
    margin-left: 100px;
    width: 535px;
    padding-top: 10px;
}

.sign-in form {
    width: 100%;
}

.sign-in input {
    border: none;
    font: 16px 'Arial', Arial, sans-serif;
    padding-bottom: 12px; 
    border-bottom: 1px groove rgba(255, 255, 255, 0.541);
    margin-right: 25px;
    color: lightgray;
    background: transparent;
}

.sign-in button {
    border: none;
    background-color: rgb(0, 150, 136);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.43);
    width: 165px;
    height: 36px;
    z-index: 84;
    font: 14px Arial, sans-serif;
    border-radius: 5px;
    
}

.sign-in button:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.93);
    cursor: pointer;
}

.social, 
.sign-in h3 {
    margin-top: 25px; 
    color: white;
}

.sign-in h3 {
    float: right;
}

.sign-in h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.language {
    font-size: 14px 'Arial', arial, sans-serif;
    float: left;
    color: white;
    padding: 5px 0;
    border-radius: 2px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.language:hover{
    background-color: rgb(11, 122, 77);
}

.register {
    margin: 0;
    height: 830px;
    width: 100%;
    background: #0062a6 url(image/main_bg.png) no-repeat center bottom;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover; 
            background-size: cover;
    padding-top: 105px;
}

.info {
    display: block;
    margin-top: 100px;
    width: 425px;
    float: left;
}

.info h1 {
    font: 45px Arial, sans-serif;
    margin-bottom: 55px;
}

.info p {
    font: 16px Arial, sans-serif;
    line-height: 1.2;
    width: 265px;
    margin-bottom: 65px;
}

.control {
    color: white;
}

.sign-up {
    width: 460px;
    height: 560px;
    float: left;
}

#sign-up {
    position: absolute;
    left: 812px;
    top: 350px;
    z-index: 9;
    
}

.vid {
    max-width: 210px;
    margin-top: 90px; 
    float: right;
}

.sport {
    margin-left: 20px;
}

.entertament {
    margin-left: 70px;
    margin-top: -20px;
}

.time-manager {
    margin-top: -30px;
}

.inform {
    background-color: #d3dee3;
}

.cloud {
    position: absolute;
    top: 665px;
    height: 218px;
    width: 1920px;
    z-index: 24;
    background: url(image/clouds.png) center no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover; 
            background-size: cover;
    text-align: center;
}


.cloud img {
    position: relative;
    margin-top: 70px;
}

.billboard {
    padding-top: 85px;
    color: #6c6e6d;
    font: 19px "Arial", sans-serif;
}

.billboard img{
    width: 900px;
    margin-right: 0;
    float: left;
}

.info_town {
    padding: 0;
    margin: 0;
    width: 375px;
    float: right;
}

.info_town h1 {
    margin-left: 75px;
    margin-top: 20px;
    font-size: 45px;
    margin-bottom: 55px;
}

.info_town p{
    text-align: right;
    height: 133px;
    width: 332px;
    font-size: 19px;
    z-index: 124;
    float: right;
    left: 50px;
}

.town {
    text-align: center;
    background: #585a5f;
}

.town img{
    height: 200px;
    width: 1920px;
    margin-top: -155px;
    margin-bottom: 
}

.town div.wrapper img {
    width: 395px;
    height: 485px;
}

.town .wrapper .board {
    margin-top: 75px;
}

.left div, 
.right div {
    margin-bottom: 55px;
    font: 18px 'Arial', sans-serif;
    color: rgb(229, 255, 242);
}



.left div:last-child, 
.right div:last-child {
    margin-bottom: 0;
}

.left,
.right {
    width: 440px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left p,
.right p {
    width: 260px;
    height: 35px;
    margin-top: 20px;
    line-height: 1.2;
}

.left p {
    text-align: left;
    margin-left: 120px;
}

.right p {
    text-align: right;
    margin-left: 60px;
}

.left div,
.right div {
    padding: 0;
    height: 90px;
}

.left div img,
.right div img {
    margin-top: 0;
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
}

.left div img {
    margin-left: 5px;
    float: left;
}

.right div img {
    margin-right: 5px;
    float: right;
}


